<div class="container" ng-controller="addModuleCtrl">
    <div class="panel panel-danger">
        <div class="panel panel-heading">Добавить пользователя</div>
        <div class="panel panel-body">
            <div ng-repeat="message in messages" ng-class="message.type">{{message.text}}</div>
            <form  ng-submit="sendPost()">
                <div class="form-group">
                    <label for="inputEmail">Название</label>
                    <input type="text" ng-model="module.moduleName" class="form-control txtRadius" placeholder="Имя">

                    <label for="inputEmail">Описание</label>
                    <input type="text" ng-model="module.description" class="form-control txtRadius" placeholder="Фамилия">

                </div>

                <button type="submit" class="btn btn-primary pull-right"> <span class="fa fa-user-plus "></span> Добавить</button>
            </form>
        </div>
    </div>
</div> 
