<div class="container">
    <table border="1" class="table table-bordered table-hover">
        <tr>
            <td colspan="3">
                <a ui-sref="addModule" class="btn btn-success btn-xs pull-right">Добавить</a>
            </td>
        </tr>
        <tr>
            <th>Название</th>
            <th>Описания</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="module in restModules">
            <td>{{module.moduleName}}</td>
            <td>{{module.description}}</td>
            <td>
                <a href="#/module/{{x.id}}" class="btn btn-warning btn-xs">Изменит</a>
                <a ng-click="removeModule($index)"  class="btn btn-danger btn-xs ">Удалить</a>
            </td>
        </tr>
    </table>
</div>