<div ng-controller="treeCtrl">
    <div class="addDeptDiv">
        <a ng-click="open()" class="pull-right addDeptLink">Добавить отдела</a> 
    </div>
    <div class="container">
        <div class="col-lg-6 treeCtrl">
            <treecontrol class="tree-light" tree-model="departments" options="departmentTreeOptions" 
                         expanded-nodes="expandedDepartments" on-selection="showSelected(node)">
                {{node.departmentName}}  
                <a ng-click="editDept(node)" class="pull-right addDeptLink">edit</a> 
            </treecontrol>
        </div>
    </div>
</div>  
