<div class="container" ng-controller="AddEditDepartmentCtrl">
    <div class="panel panel-success">   
        <div class="panel panel-heading">Изменение данные отдела s</div>
        <div class="panel panel-body">
            <div ng-repeat="message in messages" ng-class="message.type">{{message.text}}</div>
            <form ng-submit="editDepartment()">
                <div class="form-group">
                    <input type="text" ng-model="department.parent.departmentName" class="form-control txtRadius"/>
                    <input type="text" ng-model="department.departmentName" class="form-control txtRadius"/>
                </div>
                <button type="submit" class="btn btn-primary pull-right"> 
                    <span class="fa fa-user-plus"></span> 
                    Изменить {{ department.id ? 'Сохранить' : 'Создать' }}
                </button>
            </form>
        </div>
    </div>
</div> 
