<div class="container" ng-controller="AddEditModuleCtrl">
    <div class="panel panel-success">
        <div class="panel panel-heading"> {{ module.id ? 'Изменить модуль' : 'Добавить модуль' }} </div>

        <div class="panel panel-body">

            <div ng-repeat="message in messages" ng-class="message.type">{{message.text}}</div>
            <form ng-submit="editModule()">
                <div class="form-group">
                    <label for="inputEmail">Название</label>
                    <input type="text" ng-model="module.moduleName" class="form-control txtRadius" placeholder="Название модуля">
                    <label for="inputEmail">Описание</label>
                    <input type="text" ng-model="module.description" class="form-control txtRadius" placeholder="Описание модуля">
                </div>  
                <form-element entity="module"></form-element>
            </form>

        </div>
    </div>
</div> 
