<div class="container" ng-controller="AddEditModuleCtrl">
    <div class="panel panel-success">
        <div class="panel panel-heading">Модуль</div>
        <div class="panel panel-body">

            <div ng-repeat="message in messages" ng-class="message.type">{{message.text}}</div>
            <form  ng-submit="editModule()">
                <div class="form-group">
                    <label for="inputEmail">Название</label>
                    <input type="text" ng-model="module.moduleName" class="form-control txtRadius" placeholder="Название модуля">
                    <label for="inputEmail">Описание</label>
                    <input type="text" ng-model="module.description" class="form-control txtRadius" placeholder="Описание модуля">
                </div>
                <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-user-plus "></span> &nbsp{{ module.id ? 'Сохранить' : 'Создать' }}</button>
            </form>
        </div>
    </div>
</div> 
