<div class="container">
    <div ng-repeat="message in messages" ng-class="message.type" class="alert alert-danger">{{message.text}}</div>
    <table border="1" class="table table-bordered table-hover">
        <tr>
            <td colspan="4">
                <a ui-sref="addDepartment" class="btn btn-success btn-xs pull-right">Добавить</a>
            </td>
        </tr>
        <tr>
            <th>Название департамента</th>
            <th>Название отдела</th>
            <th>Код</th>
            <th>Код</th>
        </tr>
        <tr ng-repeat="x in departments">
            <td>{{x.parent.departmentName}}</td>
            <td>{{x.departmentName}}</td>
            <td>{{x.keys_ID}}</td>
            <td>
                <a href="#/departments/{{x.id}}" class="btn btn-warning btn-xs">Изменит</a>
                <a ng-click="removeDepartment($index)"  class="btn btn-danger btn-xs ">Удалить</a>
            </td>
        </tr>
    </table>
</div>