html { 
    background: url(../img/10.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login{
    margin-top: 200px;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.addDeptDiv{
    background-color: #dee3e5;
    width: 100%;
    position: absolute;
    top: 60px;
    padding: 5px 0 5px 0;
}
.editLink{
    position: relative;
    right: 20px;
}
.deleteLink{
    position: relative;
    right: 10px;
}
.treeCtrl{
  margin-top: 70px;
}