<div class="container" ng-controller="addUserCtrl">
    <div class="panel panel-danger">
        <div class="panel panel-heading">Добавить пользователя</div>
        <div class="panel panel-body">
            <div ng-repeat="message in messages" ng-class="message.type">{{message.text}}</div>
            <form  ng-submit="sendPost()">
                <div class="form-group">
                    <label for="inputEmail">Имя</label>
                    <input type="text" ng-model="user.firstname" class="form-control txtRadius" placeholder="Имя">

                    <label for="inputEmail">Фамилия</label>
                    <input type="text" ng-model="user.lastname" class="form-control txtRadius" placeholder="Фамилия">

                    <label for="inputEmail">Логин</label>
                    <input type="text" ng-model="user.username" class="form-control txtRadius" placeholder="Логин">

                    <label for="inputEmail">Парол</label>
                    <input type="password" ng-model="user.password" class="form-control txtRadius" placeholder="Парол">

                    <label for="inputEmail">Отдел</label>
                    <select multiple="" ng-model="user.department" ng-options="x.departmentName for x in departments" class="form-control txtRadius"></select>

                    <label for="inputEmail">Название модуля</label>
                    <select multiple=""  ng-model="user.modules" ng-options="x.moduleName for x in modules" class="form-control txtRadius"></select>

                    <label for="inputEmail">Тип</label>
                    <select multiple="" ng-model="user.roles" ng-options="x.roleName for x in roles" class="form-control txtRadius"></select>
                </div>

                <button type="submit" class="btn btn-primary pull-right"> <span class="fa fa-user-plus "></span> Добавить</button>
            </form>
        </div>
    </div>
</div> 
