<div class="container login" ng-init="load()">
    <form role="form" name="loginForm">
        <div class="form-signin">
            <h2 class="form-signin-heading">Добро пожаловать {{user.login}}</h2>
            <div class="text-danger">{{error}}</div>
            <label for="loginTxt">Логин :</label>
            <input type="text" id="username" class="form-control" required ng-model="user.login" />
        </div>
        <div class="form-group">
            <label for="loginPasswd">Пароль:</label>
            <input type="password" id="password" class="form-control" required ng-model="user.password" />
        </div>
        <button class="btn btn-info pull-right" type="submit" ng-click="login(user)" ng-disabled="loginForm.$invalid">Вход</button>
    </form>
</div>